process {
    withName: DECOMPRESS {
	stageInMode = 'copy'
	publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy',
	saveAs: {xzy}
        ]
    }
    withName: EMPTY_BINS {
        stageInMode = 'copy'
        publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy',
        saveAs: { xyz }
        ]
    }
    withName: EMPTY_BINS {
        stageInMode = 'copy'
        publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy',
        saveAs: { zyx }
        ]
    }
    withName: BUSCO {
	ext.args = params.busco_options
	publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy'
	]
    }
    withName: CHECKM2 {
	ext.args = params.checkm2_options
	publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy'
        ]
    }
    withName: GTDBTK2 {
	ext.args = params.gtdbtk2_options
	publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy'
        ]
    }
    withName: GUNC {
	ext.args = params.gunc_options
	publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy'
        ]
    }
    withName: QUAST {
        ext.args = params.gunc_options
        publishDir = [
        path: { "${params.outdir}/$sample" },
        mode: 'copy'
        ]
    }
}
